.info {
  font-size: 0.875rem;
  padding: 40px 0 30px;
  color: #333;
  background: #f9f9f9;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  max-width: 100%;
  font-size: 14px;
  color: #333;
}
.title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}
li {
  list-style: none;
}
.logo {
  margin: 0 auto;
}
.logo img {
  width: 100px;
  position: relative;
}
.col {
  padding: 0px 15px;
}
.link span {
  padding-top: 20px;
  padding-right: 10px;
}
.menu {
  margin-left: 95px;
}
ul {
  padding: 0px;
}
li {
  font-size: 16px;
  color: #333;
  margin-bottom: 6px;
}
.footer_copyright {
  font-size: 0.75rem;
  background: #fff;
  text-align: center;
  height: 54px;
  line-height: 1em;
  padding: 20px 0;
}
